### Info : 서울시 구별 코드정보
'01': '종로구', '02': '중구', '03': '용산구', '04': '성동구', '05': '광진구', '06': '동대문구', '07': '중랑구', '08': '성북구', '09': '강북구', '10': '도봉구', '11': '노원구', '12': '은평구', '13': '서대문구', '14': '마포구', '15': '양천구', '16': '강서구', '17': '구로구', '18': '금천구', '19': '영등포구', '20': '동작구', '21': '관악구', '22': '서초구', '23': '강남구', '24': '송파구', '25': '강동구'

In [10]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
bus_boarding = pd.read_csv('1.1 bus_station_boarding.csv', encoding='cp949')

In [17]:
seoul_bus_station = pd.read_csv('1.2 bus_station_seoul.csv')

### 1. 데이터 특성 파악 (info(), head(), tail() 등)

In [15]:
bus_boarding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1169878 entries, 0 to 1169877
Data columns (total 8 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   사용일자        1169878 non-null  int64
 1   노선번호        1169878 non-null  object
 2   노선명         1169878 non-null  object
 3   버스정류장ARS번호  1169878 non-null  object
 4   역명          1169878 non-null  object
 5   승차총승객수      1169878 non-null  int64
 6   하차총승객수      1169878 non-null  int64
 7   등록일자        1169878 non-null  int64
dtypes: int64(4), object(4)
memory usage: 71.4+ MB

In [18]:
bus_boarding.head()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
0,20220401,2112,2112번(면목동~성북동),06243,장안동삼성쉐르빌아파트,31,156,20220404
1,20220401,2112,2112번(면목동~성북동),06242,새서울병원,46,153,20220404
2,20220401,2112,2112번(면목동~성북동),06238,장안동근린공원,11,80,20220404
3,20220401,2112,2112번(면목동~성북동),06309,휘경공고휘경주공아파트,56,65,20220404
4,20220401,100,100번(하계동~용산구청),11428,한성여객종점,9,5,20220404

In [19]:
bus_boarding.tail()

,사용일자,노선번호,노선명,버스정류장ARS번호,역명,승차총승객수,하차총승객수,등록일자
1169873,20220430,7738,7738번(은평공영차고지~홍제역),12004,수색교,2,32,20220503
1169874,20220430,201,201번(구리~서울역),06278,세종대왕기념관,153,43,20220503
1169875,20220430,강서01,강서01(약수터~등촌역),16555,화곡본동시장,133,6,20220503
1169876,20220430,3321,3321번(강동차고지~강동구청),25236,굽은다리사거리,36,41,20220503
1169877,20220430,201,201번(구리~서울역),06280,영휘원사거리.(구)홍릉사거리,122,49,20220503

### 1.1 데이터 특성 파악 후 해야할 작업들 구상

- 등록일자는 필요하지 않기 때문에 제거
- 사용일자는 datetime 자료형으로 바꿔주자
- 버스정류장ARS번호는 int 자료형으로 바꿔주자

In [34]:
# 1. 등록일자 열 제거
bus_boarding.drop('등록일자', axis=1, inplace=True)
bus_boarding.head()

       사용일자  노선번호             노선명 버스정류장ARS번호           역명  승차총승객수  하차총승객수
0  20220401  2112  2112번(면목동~성북동)      06243  장안동삼성쉐르빌아파트      31     156
1  20220401  2112  2112번(면목동~성북동)      06242        새서울병원      46     153
2  20220401  2112  2112번(면목동~성북동)      06238      장안동근린공원      11      80
3  20220401  2112  2112번(면목동~성북동)      06309  휘경공고휘경주공아파트      56      65
4  20220401   100  100번(하계동~용산구청)      11428       한성여객종점       9       5

In [37]:
# 2. 사용일자 자료형 변경
bus_boarding['사용일자'] = pd.to_datetime(bus_boarding['사용일자'])
bus_boarding.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1169878 entries, 0 to 1169877
Data columns (total 7 columns):
 #   Column      Non-Null Count    Dtype
---  ------      --------------    -----
 0   사용일자        1169878 non-null  datetime64[ns]
 1   노선번호        1169878 non-null  object
 2   노선명         1169878 non-null  object
 3   버스정류장ARS번호  1169878 non-null  object
 4   역명          1169878 non-null  object
 5   승차총승객수      1169878 non-null  int64
 6   하차총승객수      1169878 non-null  int64
dtypes: datetime64[ns](1), int64(2), object(4)
memory usage: 62.5+ MB

In [ ]:
# 3. 노선번호, 버스정류장ARS 번호 자료형 변경
# bus_boarding['버스정류장ARS번호'] = bus_boarding['버스정류장ARS번호'].astype('int')
# bus_boarding.info()
# 시도 결과 어딘가 이상한 값이 있음을 파악 제거 작업 수행