### Daum Exchange
- `https://finance.daum.net`

In [1]:
import requests
import pandas as pd

In [2]:
url = 'https://finance.daum.net/api/exchanges/summaries'

In [3]:
response = requests.get(url)
response

In [4]:
response.text

'<html>\r\n<head><title>403 Forbidden</title></head>\r\n<body bgcolor="white">\r\n<center><h1>403 Forbidden</h1></center>\r\n<hr><center>nginx</center>\r\n</body>\r\n</html>\r\n'

In [7]:
# 위처럼 403 에러가 발생했을 경우 할 수 있는 다양한 처리들

# 1. User-Agent를 Python에서 브라우저처럼 맞춰주기
headers = {
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36',
}
response = requests.get(url, headers=headers)
response

In [9]:
# 2. Referer도 맞춰줘보기
headers = {
    'Referer' : 'https://finance.daum.net/exchanges',
    'User-Agent': 'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/116.0.0.0 Safari/537.36',
}
response = requests.get(url, headers=headers)
response

In [11]:
response.text[:500]

'{"data":[{"symbolCode":"FRX.KRWUSD","date":"2023-08-24 14:42:06","currencyCode":"USD","currencyName":"달러","currencyUnit":1,"country":"미국","region":{"korName":"아메리카","engName":"America"},"name":"미국 (USD/KRW)","recurrenceCount":484,"basePrice":1321.5,"change":"FALL","changePrice":11.5,"changeRate":0.0086271568,"cashBuyingPrice":1344.62,"cashSellingPrice":1298.38,"ttBuyingPrice":1308.6,"ttSellingPrice":1334.4,"tcBuyingPrice":null,"fcSellingPrice":null,"exchangeCommission":7.165,"usDollarRate":1.0,"'

In [ ]:
data = response.json()
data

In [14]:
df = pd.DataFrame(data['data'])
df.head()

,symbolCode,date,currencyCode,currencyName,currencyUnit,country,region,name,recurrenceCount,basePrice,...,changeRate,cashBuyingPrice,cashSellingPrice,ttBuyingPrice,ttSellingPrice,tcBuyingPrice,fcSellingPrice,exchangeCommission,usDollarRate,chartImageUrl
0,FRX.KRWUSD,2023-08-24 14:42:06,USD,달러,1,미국,"{'korName': '아메리카', 'engName': 'America'}",미국 (USD/KRW),484,1321.50,...,0.008627,1344.62,1298.38,1308.60,1334.40,None,None,7.1650,1.0000,{'day': 'https://t1.daumcdn.net/finance/chart/...
1,FRX.KRWJPY,2023-08-24 14:42:06,JPY,엔,100,일본,"{'korName': '아시아', 'engName': 'Asia'}",일본 (JPY100/KRW),484,910.22,...,0.010534,926.14,894.30,901.30,919.14,None,None,2.0205,0.6888,{'day': 'https://t1.daumcdn.net/finance/chart/...
2,FRX.KRWCNY,2023-08-24 14:42:06,CNY,위안,1,중국,"{'korName': '아시아', 'engName': 'Asia'}",중국 (CNY/KRW),484,181.59,...,0.007162,190.66,172.52,179.78,183.40,None,None,5.5821,0.1374,{'day': 'https://t1.daumcdn.net/finance/chart/...
3,FRX.KRWEUR,2023-08-24 14:42:06,EUR,유로,1,유로,"{'korName': '유럽', 'engName': 'Europe'}",유로 (EUR/KRW),484,1436.80,...,0.007666,1465.39,1408.21,1422.44,1451.16,None,None,5.6120,1.0872,{'day': 'https://t1.daumcdn.net/finance/chart/...
4,FRX.KRWGBP,2023-08-24 14:42:06,GBP,파운드,1,영국,"{'korName': '유럽', 'engName': 'Europe'}",영국 (GBP/KRW),484,1681.34,...,0.008164,1714.46,1648.22,1664.53,1698.15,None,None,7.3980,1.2723,{'day': 'https://t1.daumcdn.net/finance/chart/...

In [15]:
df = df[['symbolCode', 'country', 'currencyName', 'basePrice']]
df.head()

   symbolCode country currencyName  basePrice
0  FRX.KRWUSD      미국           달러    1321.50
1  FRX.KRWJPY      일본            엔     910.22
2  FRX.KRWCNY      중국           위안     181.59
3  FRX.KRWEUR      유로           유로    1436.80
4  FRX.KRWGBP      영국          파운드    1681.34

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42 entries, 0 to 41
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   symbolCode    42 non-null     object
 1   country       42 non-null     object
 2   currencyName  42 non-null     object
 3   basePrice     42 non-null     float64
dtypes: float64(1), object(3)
memory usage: 1.4+ KB