**AIVLE School 미니프로젝트**
### **통신 서비스 이용 고객의 <span style="color:darkgreen">이탈 여부</span> 예측 문제**
---

#### **<span style="color:red">[미션 안내]</span>**
* 고객 관련 데이터를 분석한 후 고객의 서비스 중단 또는 경쟁업체로의 이탈 여부를 예측하는 머신러닝, 딥러닝 모델을 만들고 결과를 예측하세요.

#### **<span style="color:red">[유의 사항]</span>**
* 각 문항의 답안코드는 반드시 '#여기에 답안코드를 작성하세요'로 표시된 cell에 작성해야 합니다.
* 제공된 cell을 추가/삭제하고 다른 cell에 답안코드를 작성 시 채점되지 않습니다.
* 반드시 문제에 제시된 가이드를 읽고 답안 작성하세요.
* 문제에 변수명이 제시된 경우 반드시 해당 변수명을 사용하세요.
* 문제와 데이터는 제3자에게 공유하거나 개인적인 용도로 사용하는 등 외부로 유출할 수 없으며 유출로 인한 책임은 응시자 본인에게 있습니다.

#### **<span style="color:red">[데이터 컬럼]</span>**
1. CustomerID: 고객ID
2. gender: 성별
3. SeniorCitizen: 고령자 여부 (1, 0)
4. Partner: 배우자가 있는 지 여부 (Yes, No)
5. Dependents: 부양가족 여부 (Yes, No)
6. Tenure: 서비스 사용 개월수
7. PhoneService: 폰서비스 이용여부 (Yes, No)
8. MultipleLines: 다회선 이용여부 (Yes, No, No phone service)
9. InternetService: 인터넷 서비스 제공업체 (DSL, Fiber optic, No)
10. OnlineSecurity: 온라인 보안 이용여부 (Yes, No, No internet service)
11. OnlineBackup:온라인 백업 이용여부 (Yes, No, No internet service)
12. DeviceProtection: 디바이스 보호 이용여부 (Yes, No, No internet service)
13. TechSupport: 기술지원 이용여부 (Yes, No, No internet service)
14. StreamingTV: 스트리밍TV 이용여부 (Yes, No, No internet service)
15. StreamingMovies: 스트리밍 영화 이용여부 (Yes, No, No internet service)
16. Contract: 접촉 주기 (Month-to-month, One year, Two years)
17. PaperlessBilling: 온라인 빌링 이용여부 (Yes, No)
18. PaymentMethod: 요금납부방법 (Electronic check, Mailed check, Bank transfer (automatic), Credit card (automatic))
19. MonthlyCharges: 월 이용요금
20. TotalCharges: 총 이용요금
21. Churn: 이탈여부 (Yes or No)

### 1. scikit-learn 패키지는 머신러닝 교육을 위한 최고의 파이썬 패키지입니다.
### scikit-learn를 별칭(alias) sk로 임포트하는 코드를 작성하고 실행하세요.

In [ ]:
# 여기에 답안코드를 작성하세요.
import sklearn as sk

### 2. Numpy를 사용할 수 있도록 별칭(alias)을 pd로 해서 불러오세요.

In [ ]:
# 여기에 답안코드를 작성하세요.
import pandas as pd

### 3. 모델링을 위해 분석 및 처리할 데이터 파일을 읽어오려고 합니다.
### Pandas함수로 데이터 파일을 읽어 데이터프레임 변수명 df에 할당하는 코드를 작성하세요.
* churn_data.csv 파일을 읽어 데이터 프레임 변수명 df에 할당하세요.

In [ ]:
# 여기에 답안코드를 작성하세요.
df = pd.read_csv('churn_data.csv')

### 4. df에서 불필요한 customerID 컬럼을 삭제하고 df1에 저장하세요.

In [ ]:
# 여기에 답안코드를 작성하세요.
df1 = df.drop('customerID', axis=1)

### 5. df1의 TotalCharges 컬럼의 타입을 float로 변경하세요.
* TotalCharge의 컬럼 타입을 확인하는 코드를 작성하세요.
* ' ' 값을 0으로 변환하고 컬럼 타입을 float로 변경하세요.
* 전처리 후 데이터를 df2에 저장하세요.

In [ ]:
# 여기에 답안코드를 작성하세요.
cols = 'TotalCharges'
df1.loc[df1[cols] == ' ', cols] = 0
df1[cols] = df1[cols].astype('float')
df2 = df1.copy()

### 6. df2에서 churn 컬럼의 데이터별 개수를 확인하는 코드를 작성하고 
### Yes, No를 각각 1, 0으로 변환한 후 df3에 저장하세요.

In [ ]:
# 여기에 답안코드를 작성하세요.
df2['Churn'].value_counts()

cols = 'Churn'
df2.loc[df2[cols] == 'Yes', cols] = 1
df2.loc[df2[cols] == 'No', cols] = 0
df2['Churn'].value_counts()

df3 = df2.copy()

### 7. df3의 모든 컬럼에 대해 결측치를 확인하는 코드를 작성하고 결측치를 처리하세요.
* 결측치가 40% 이상인 컬럼은 컬럼을 삭제하세요.
* 결측치가 40% 미만인 컬럼은 결측치가 있는 row를 삭제하세요.
* 전처리한 데이터를 df4에 저장하세요.

In [ ]:
# 여기에 답안코드를 작성하세요.
df3.isna().sum()
df3.drop(columns = df3.columns[df3.isna().sum()/len(df3) >= 0.4], axis=1, inplace=True)
df3.dropna(inplace=True)
df4 = df3.copy()

### 8. df4에서 SeniorCitizen 컬럼을 bar 차트로 확인해보고 불균형을 확인해보세요. 
### SeniorCitizen 컬럼은 불균형이 심하므로 삭제하세요.

In [ ]:
#%pip install seaborn

In [ ]:
# 여기에 답안코드를 작성하세요.
import matplotlib.pyplot as plt
import seaborn as sns

cols = 'SeniorCitizen'
sns.countplot(x = cols, data=df4)
plt.show()

df4.drop(cols, axis=1, inplace=True)

### 9. df4에서 다음의 가이드에 따라 데이터를 시각화 해보세요.
* tenure (서비스 사용기간)에 대해 히스토그램으로 시각화 하세요.
* tenure를 x 값으로 churn을 hue 값으로 사용하여 kdeplot으로 시각화 하고 '서비스 사용기간이 길어질 수록 이탈이 적다'에 대해 'O'인지 'X'인지 출력하세요.
* MultipleLines에 대해 countplot을 그리고 churn을 hue 값으로 사용하여 countplot으로 시각화 하고 'MultipleLines 서비스를 사용하는 고객이 약간 더 높은 이탈율을 보인다'에 대해 'O'인지 'X'인지 출력하세요.
* 'tenure','MonthlyCharges','TotalCharges' 컬럼간의 상관관계를 확인하여 heatmap으로 시각화하고 가장 높은 상관계수 값을 출력하세요.

In [ ]:
# 여기에 답안코드를 작성하세요.
import scipy.stats as spst

sns.histplot(x='tenure', data=df4)
plt.show()

sns.kdeplot(x='tenure', hue='Churn', data=df4)
plt.show()

sns.countplot(x = 'MultipleLines', data=df4)
plt.show()

sns.countplot(x='MultipleLines', hue='Churn', data=df4)
plt.show()

df4_tmp = df4[['tenure', 'MonthlyCharges', 'TotalCharges']]
sns.heatmap(df4_tmp.corr(),
            annot = True,
            fmt = '.3f')
plt.show()

print(spst.pearsonr(df4_tmp['tenure'], df4_tmp['TotalCharges']))

### 10. df4에서 컬럼의 데이터 타입이 object인 컬럼들을 원-핫 인코딩하세요.
* 컬럼의 데이터 타입이 object인 컬럼들을 object_cols 변수에 저장하세요.
* object_cols 변수의 컬럼들을 원-핫 인코딩하세요.
* 전처리된 데이터를 df5에 저장하세요.